doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    if errors
      ul
        each error in errors
          li!= error.msg