extends layout

block content
  if user
    form(method="POST", action="") 
      label(for="title" ) Title
      br
      input(type="text" name="title" minlength="1" maxlength="120" required)
      br
      label(for="text") Text
      br
      textarea(name="text" minlength="1" maxlength="1500" required) 
      br
      button(type="submit") Submit
  else 
    p You must be logged in to write new messages.