extends layout

block content
  .secret-form
    a.back-link(href="/") #{ "< " } BACK
    h1 Gain member status
    p Member status allows users to see the author and time of messages.
    if user && !user.member
      form(method="POST", action="") 
        label(for="secret" ) SECRET
        input(type="text" name="secret" minlength="1" maxlength="40" required)
        button.secret-form-submit(type="submit") Submit
    else 
      p You are already a member or not logged in.
    p Do you have the admin secret phrase? 
      a.form-link(href="/admin-form") Gain admin status.