extends layout

block content
  .sign-up
    h1 Sign Up
    form(method="POST", action="")
      label(for="first_name") FIRST NAME
      input(type="text" name="first_name" maxlength="40" required)
      label(for="last_name") LAST NAME
      input(type="text" name="last_name" maxlength="40" required)
      label(for="username") USERNAME
      input(type="text" name="username" maxlength="40" required)
      label(for="password") PASSWORD
      input(type="password" name="password" maxlength="40" required)
      label(for="password") CONFIRM PASSWORD
      input(type="password" name="confirm" maxlength="40" required)
      button.sign-up-btn(type="submit") Sign Up
    span Already have an account? 
      a(href="/log-in") LOG IN