/* LAYOUT */

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  min-height: 100vh;
  font: 14px "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  min-height: 48px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 8px 75px 0 75px;
  box-sizing: border-box;
  background-color: white;
  position: sticky;
  top: 0;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid lightgray;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  z-index: 1;
  flex-wrap: wrap;
}

.header > * {
  margin-bottom: 8px;
}

.header-btn-group {
  display: flex;
  column-gap: 16px;
}

.log-in-btn,
.sign-up-btn,
.log-out-btn {
  height: 32px;
  width: 120px;
  min-width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  font-weight: 600;
  box-sizing: border-box;
}

.log-in-btn,
.log-out-btn {
  background-color: white;
  border: 1px solid rgb(0, 121, 211);
  color: rgba(0, 121, 211, 255);
}

.log-in-btn:hover,
.log-out-btn:hover {
  background-color: rgb(249, 249, 249);
}

.sign-up-btn {
  background-color: rgb(0, 121, 211);
  color: white;
}

.sign-up-btn:hover,
.log-in .log-in-btn:hover,
.sign-up .sign-up-btn:hover {
  background-color: rgb(0, 132, 232);
}

.header a.logo {
  font-size: 24px;
  color: black;
  text-align: center;
  flex: 1;
  min-width: 200px;
}

.main {
  background-color: rgba(239, 244, 248);
  width: 100%;
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: min(100%, 1120px);
  flex: 1;
  position: relative;
}

.main-content > div {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  padding: 26px 26px 0 26px;
}

h1 {
  font-weight: 300;
  margin-top: 0;
}

/* LOG-IN / SIGN-UP*/

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.log-in label,
.sign-up label {
  color: gray;
  font-weight: 600;
  font-family: "Hind Siliguri", sans-serif;
}

.log-in input,
.sign-up input {
  height: 32px;
  box-sizing: border-box;
  padding-left: 10px;
  font-family: inherit;
  margin-bottom: 12px;
  border: 1px solid lightgray;
  border-radius: 4px;
}

.log-in input:focus,
.sign-up input:focus {
  outline: 1px solid rgb(0, 121, 211);
}

.log-in .log-in-btn,
.sign-up .sign-up-btn {
  background-color: rgb(0, 121, 211);
  color: white;
  border: none;
  width: 100%;
  height: 40px;
  cursor: pointer;
  font-size: inherit;
  font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  margin-top: 10px;
}

.log-in span:last-child,
.sign-up span:last-child {
  margin-top: 24px;
}

.log-in span:last-child a,
.sign-up span:last-child a {
  color: rgb(0, 121, 211);
  font-family: "Hind Siliguri", sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.log-in span:last-child a:hover,
.sign-up span:last-child a:hover {
  color: rgb(0, 132, 232);
}

.footer {
  width: 100%;
  height: 120px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid lightgray;
  text-align: center;
  padding: 0 26px 0 26px;
}

.footer a {
  font-weight: 600;
  color: rgb(254, 76, 80);
  text-decoration: underline;
}

/* INDEX */

.index {
  position: relative;
}

span.username-welcome {
  color: gray;
}

.index-item {
  max-width: 700px;
  min-height: 55px;
  background-color: white;
  border-radius: 14px;
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
}

.index-item.new-message-btn {
  display: flex;
  align-items: center;
  padding: 0 9px 0 24px;
  color: rgb(163, 163, 163);
  transition: 0.3s;
  position: sticky;
  top: 60px;
  transform-style: preserve-3d;
}

.index-item.new-message-btn .plus-btn {
  height: 40px;
  width: 40px;
  margin-left: auto;
  background-color: rgba(83, 69, 207);
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  font-weight: 300;
  box-shadow: 2px 2px 4px rgba(83, 69, 207, 0.354);
}

.index-item.new-message-btn:hover {
  transform: scale(1.015);
}

.index-item.new-message-btn::after {
  background: linear-gradient(to bottom, rgba(239, 244, 248) 45%, transparent);
  content: " ";
  width: 110%;
  height: 200px;
  pointer-events: none;
  position: absolute;
  margin-left: -24px;
  transform: translateZ(-1px);
  top: -14px;
  transition: opacity 0.4s;
  opacity: 0;
}

.index-item.new-message-btn.is-pinned::after {
  opacity: 1;
}

.index-item.new-message-btn.hidden-pseudo::after {
  display: none;
}

.index .message-list {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.index .index-item.message {
  min-height: 240px;
  padding: 26px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
}

.index .index-item.message h2.title {
  font-weight: 400;
  margin: 0;
}

.index .index-item.message p.by-line {
  margin: 0;
  padding-bottom: 8px;
  color: gray;
  border-bottom: 1px solid lightgray;
}

.index .index-item.message p.message-text {
  margin: 0;
  padding-top: 8px;
}

.index .index-item.message p.time-ago {
  color: gray;
  text-align: end;
  margin: 0;
  padding-top: 8px;
  margin-top: auto;
}
